@tailwind base;
@tailwind components;
@tailwind utilities;

.img-div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.img-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112,157,255,0.8),
        hsla(242,74%,61%,0.8)
        )!important
}
